body {
  margin: 0;
  background: black;
}

.terminal {
  background: black;
  color: #ffffff;
  font-family: monospace;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: monospace;
  font-size: 16px;
  width: 90%;
}
